div#fixedheader {
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	color:#CCC;
	background:#333;
	padding:10px;
}


div#fixedfooter {
	position:fixed;
	bottom:0px;
	left:0px;
	width:100%;
	color:#CCC;
	background:#333;
	padding:8px;
}

.nav-pills a {
    color: black
}

.nav-pills a:hover {
    color: black;
    border-radius: 0px;
}

.nav-pills .active a:hover {
    color: black;
    border-radius: 0px;
}