{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Media Browser{% endblock %}

{% block content %}

<div class="panel panel-default">


	    <audio id="audio-player" type="audio/mp3" controls="controls">
	    	<source id="audio-source" type="audio/mp3"></source>
	    	Your browser does not support audio.
	    </audio>

	</script>

	<br>

	<div class="panel-heading">Audio Tracks</div>
	<table class="table">
		<tr>
			<th>Track Title</th>
			<th>Artist</th> 
			<th>Album</th>
			<th>Track Number</th>
			<th>Genre</th>
			<th>Year</th>
			<th>File Name</th>
			<th>Date Added</th>
		</tr>

		{% for file in loaded_files %}
			<tr>
				<td>
					<a href="#" rel="nofollow" onclick="return loadSong('{{ file.file_name }} ');">{{ file.track_title }}</a>

					<script>
						function loadSong(audio_track_name){
							var full_media_path = "/media/" + audio_track_name;
							var audio_element = document.getElementById("audio-player");
							var audio_source = document.getElementById("audio-source");

							audio_element.src = full_media_path;

							console.log("Loading the song.");
							console.log(audio_element);
							console.log(audio_source);

							audio_element.load();

						}
					</script>

				</td>
				<td>{{ file.artist }} 
				</td>
				<td>{{ file.album }} 
				</td>
				<td>{{ file.track_number }} 
				</td>
				<td>{{ file.genre }} 
				</td>
				<td>{{ file.year }} 
				</td>
				<td>{{ file.file_name }} 
				</td>
				<td>{{ file.date_added }}
				</td>
			</tr>
		{% endfor %}
	</table>
</div>


	
{% endblock %}