{% load staticfiles %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{% static '/static/video_style.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static '/static/header.css' %}" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>

	<ul class="nav nav-tabs" nav-justified>
		<li role="presentation"><a href="/">Home</a></li>
		<li role="presentation"><a href="/video">Video Player</a></li>
		<li role="presentation"><a href="/audio_media">Audio Media Browser</a></li>
		<li role="presentation"><a href="/video_media">Video Media Browser</a></li>
		<li role="presentation"><a href="/canvas">Canvas Video Player</a></li>
		<li role="presentation"><a href="/trailers">Movie Trailers</a></li>
	</ul>

    <h1>Speakly Media Player</h1>
    {% block content %}{% endblock %}
    {% block footer %}
    <hr>
    <p>Enjoy yourself.</p>
    {% endblock %}
</body>

	<div id="fixedfooter">
	</div>
</html>

