{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Media Browser{% endblock %}

{% block content %}

<div class="panel panel-default">
	<div class="panel-heading">Audio Tracks</div>
	<table class="table">
		<tr>
			<th>Track Title</th>
			<th>Artist</th> 
			<th>Album</th>
			<th>Track Number</th>
			<th>Genre</th>
			<th>Year</th>
			<th>File Name</th>
		</tr>

		{% for file in loaded_files %}
			<tr>
				<td>{{ file.song_title }} 
				</td>
				<td>{{ file.artist }} 
				</td>
				<td>{{ file.album }} 
				</td>
				<td>{{ file.track_number }} 
				</td>
				<td>{{ file.genre }} 
				</td>
				<td>{{ file.year }} 
				</td>
				<td>{{ file.file_name }} 
				</td>
			</tr>
		{% endfor %}
	</table>
</div>


	
{% endblock %}