{% load staticfiles %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
	<head>
	    <title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" type="text/css" href="{% static '/static/video_style.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static '/static/header.css' %}" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	</head>
	<body>
		<video controls autoplay loop muted preload="auto">
			Playing Local Video
			<source src= "{{ first_video }}" type="video/mp4">
			Your browser does not support WebM HTML5 video.
		</video>

	</body>
</html>


