{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Media Browser{% endblock %}

{% block content %}

<div class="panel panel-default">
	<div class="panel-heading">Video Files</div>
	<table class="table">
		<tr>
			<th>Track Title</th>
			<th>Video Length</th> 
			<th>Aspect Ratio</th>
			<th>Frame Rate</th>
			<th>Format</th>
			<th>Width</th>
			<th>Height</th>

			<th>Bit Rate</th> 
			<th>Date Added</th>
			<th>Rating</th>
			<th>Year</th>
			<th>File Size</th>
		</tr>

		{% for file in loaded_files %}
			<tr>
				<td>
					<a href="#" rel="nofollow" onclick="return launchVideo('{{ file.file_name }}');">{{ file.file_name }}</a>

					<script>
						function launchVideo(video_name){
							var full_media_path = "/media/" + video_name;
							var video_html = "<video id=\"video\" src=" + full_media_path + " type=\"video/mp4\" autoplay loop muted controls>	Your browser does not support HTML5 video. </video>";

							console.log("Launching the video.");
							console.log(video_name);

							document.getElementById("video_display").innerHTML = video_html;
							document.getElementById("video_display").style.display="block";
						}

					</script>
				</td>
				<td>{{ file.video_length }} 
				</td>
				<td>{{ file.video_aspect_ratio }} 
				</td>
				<td>{{ file.video_frame_rate }} 
				</td>
				<td>{{ file.video_format }} 
				</td>
				<td>{{ file.video_width }} 
				</td>
				<td>{{ file.video_height }} 
				</td>
				<td>{{ file.bit_rate }} 
				</td>
				<td>{{ file.date_added }} 
				</td>
				<td>

				{{ file.rating }} 
				</td>
				<td>{{ file.year }} 
				</td>
				<td>{{ file.file_size }} 
				</td>
			</tr>
		{% endfor %}
	
	</table>
</div>

<div id="video_display">Video Player</div>



	
{% endblock %}